<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>Lets Go Horse</h1>
          <p>go horse development is so fun!</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <h3>Whats New?</h3>
          <ul>
            <li class="menu-item">Configurations</li>
            <li class="menu-item">Articles</li>
            <li class="menu-item">More information</li>
          </ul>
        </div>
      </div>

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>